@use "/src/scss/variables.scss" as var;

@mixin flex-col {
    display: flex;
}
@mixin flex-row {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0 5%;
    margin-bottom: 6.6rem;

    .contacts__content {
        @include flex-col;
        justify-content: center;
        gap: 5.5rem;
        max-width: 100%;

        .contact__content__main {
            @include flex-row;
            color: var.$main-text;
            justify-content: center;
            gap: 1rem;

            .contact__subtitle a {
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 3rem;
                color: var.$main-red;
            }
        }

        .contacts__info {
            display: flex;
            color: var.$more-text;
            font-size: 13px;
            line-height: 19px;

            .contacts__address {
                @include flex-row;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.9rem;
                color: var.$more-text;
                gap: 2rem;

                & div p {
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.9rem;
                    color: var.$more-text;
                }

                .contacts__address__important-info p {
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 1.8rem;
                    color: var.$main-text;
                }
            }
        }

        .contacts__form__container {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            width: 600px;

            .contacts__form__question {
                margin-bottom: 2rem;
            }

            //*****************************
            .contacts__form {
                .contacts__form__input {
                    display: flex;
                    flex-direction: column;
                    gap: 2.8rem;
                    margin-bottom: 2rem;

                    .contacts__form__row {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 6rem;
                    }

                    .contacts__form__label {
                        position: relative;
                    }

                    .contacts__form__label input,
                    .contacts__form__label textarea {
                        width: 100%;
                        padding: 1.7rem 0 1.1rem 2rem;
                        font-size: 1.6rem;
                        line-height: 1.6rem;
                        background-color: rgba(245, 245, 245, 1);
                        border: 1px solid rgba(230, 230, 230, 1);
                        border-radius: 1.4rem;
                        transition: border-color 0.3s ease,
                            background-color 0.3s ease;
                    }

                    .contacts__form__label textarea {
                        resize: none;
                        height: 13.3rem;
                    }

                    .contacts__form__label label {
                        position: absolute;
                        top: 50%;
                        left: 2rem;
                        transform: translateY(-50%);
                        font-size: 1.6rem;
                        line-height: 1.6rem;
                        color: rgba(121, 121, 134, 1);
                        pointer-events: none;
                        transition: 0.3s ease-in-out;
                    }

                    .contacts__form__label input:focus + label,
                    .contacts__form__label
                        input:not(:placeholder-shown)
                        + label,
                    .contacts__form__label textarea:focus + label,
                    .contacts__form__label
                        textarea:not(:placeholder-shown)
                        + label {
                        top: 1rem;
                        left: 2rem;
                        font-size: 1.2rem;
                        color: rgba(121, 121, 134, 1);
                    }

                    .contacts__form__input-error {
                        font-size: 1.2rem;
                        color: var.$main-red;
                        margin-top: 0.3rem;
                        margin-left: 3rem;
                        display: none;
                    }

                    .contacts__form__label
                        input:user-invalid
                        + label
                        + .contacts__form__input-error,
                    .contacts__form__label
                        textarea:user-invalid
                        + label
                        + .contacts__form__input-error {
                        display: block;
                    }

                    .contacts__form__label input:user-invalid {
                        background-color: rgba(191, 39, 56, 0.12);
                    }
                }
            }

            //*********************
            .contacts__form__agreement {
                display: flex;
                gap: 1.6rem;
                align-items: center;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6rem;
                color: var.$more-text;
                margin-bottom: 3.3rem;

                // Checkbox

                & input[type="checkbox"] {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 0.4rem;
                    background-color: var.$background-color;
                    cursor: pointer;
                    transition: background-color 0.2s ease;

                    &:hover {
                        background-color: var.$hover-red;
                    }

                    &:checked {
                        background-color: var.$active-red;
                        mask: url("/src/assets/icons/arrow.svg") center/contain
                            no-repeat;
                    }
                }

                & span {
                    display: none;
                }

                & label {
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                }

                & label::after {
                    content: "обработки персональных данных";
                    color: var.$main-text;
                    font-weight: bold;
                }
            }

            .contacts__form__button {
                max-width: 19rem;
                padding: 1.9rem 3.7rem;
                text-align: center;
                font-family: "RoadRadio", sans-serif;
                color: #fff;
                font-weight: 400;
                line-height: 1.4rem;
                background-color: var.$main-red;
                border-radius: 1.5rem;
                border: none;
                cursor: pointer;
                transition: background-color 0.4s ease;

                &:hover {
                    background-color: var.$hover-red;
                }

                &:active {
                    background-color: var.$active-red;
                }
            }
        }
    }

    @media (max-width: 320px) {
        & .contacts__content {
            flex-direction: column;
        }

        & .contacts__form__row {
            display: flex;
            flex-direction: column;
        }
    }

    @media (min-width: 321px) and (max-width: 767px) {
        & .contacts__content {
            flex-direction: column;
        }

        & .contacts__form__row {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 2% 0 2%;

        .contacts__content {
            .contacts__info {
                .contacts__address {
                    .contacts__address__important-info p {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .contacts__content h2 {
            font-size: var.$fz-h2-tablet;
        }

        .contacts__form__container {
            .contacts__form__input {
                gap: 1.2rem;

                .contacts__form__agreement {
                    gap: 0.3rem;

                    & label {
                        font-size: 1.3rem;
                        line-height: 1.5rem;
                    }

                    & input[type="checkbox"] {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            .contacts__form__input div {
                flex-direction: column;
            }
        }
    }
}
